<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 font-weight-normal">
        Bye Bye NgModules
    </h5>
    <nav class="my-2 my-md-0 mr-md-auto">
        <a class="p-2 text-dark" routerLink="/render-cmp">Standalone components</a>
        <a class="p-2 text-dark" routerLink="/posts">Async/Push Pipe</a>
        <a class="p-2 text-dark" routerLink="/cd">Change Detection</a>
        <a class="p-2 text-dark" routerLink="/dynamic-import">Dynamic imports</a>
        <a class="p-2 text-dark" routerLink="/timer">HOC</a>

    </nav>

</div>